.main {
    transform:translate(0, -150px);
    margin: 100px 0;
}

.card__admin {
    background: white;
    width: 900px;
    margin: 30px auto;
    padding: 10px 20px;
    border: 1px solid gray;
}

.admin {

    &__page {
        @include flex-between-center;
        height: 40px;

        &__title {
            text-decoration: none;
            color: black;
        }
    }
    
    &__time {
        margin-left: 5px;
    }
    
    &__block:not(:last-child) .broad__hr {
        border-bottom: 1.2px solid $gray-01;
        margin:10px 0;
    }
}